.inputTask {
  width: 500px;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.addButton {
  width: 100px;
  background-color: #4e9af1;
  padding: 12px 6px;
  margin: 8px;
  border: 1px solid white;
  border-radius: 2px solid white;
  color: white;
}
input:focus {
  outline: none !important;
  border: 1px solid #4e9af1;
  box-shadow: 0 0 2px #4e9af1;
}
.todoItemWrapper {
  background-color: lightgray;
  width: 550px;
  display: flex;
  justify-content: space-between;
  padding: 12px 6px;
  margin: 8px;
  color: red;
}
.todoItem {
  font-size: 15px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.radioObjects {
  display: flex;
  justify-content: space-around;
}
