.registerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.registerPage {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  height: 100vh;
}
.emailInput {
  width: 200px;
  padding: 6px 15px;
  margin: 8px;
  border: 1px solid #4e9af1;
  border-radius: 4px;
}
.passwordInput {
  width: 200px;
  padding: 6px 15px;
  margin: 8px;
  border: 1px solid #4e9af1;
  border-radius: 4px;
}
.nameInput {
  width: 200px;
  padding: 6px 15px;
  margin: 8px;
  border: 1px solid #4e9af1;
  border-radius: 4px;
}
